# Bỏ target ngoại trừ các file cần thiết
target/*
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*

# Bỏ các file IDE, log, temp
.idea/
*.log
*.tmp

# Cho phép build copy các file quan trọng
!pom.xml
!src/
